.transportButtonContainer {
    background-color: transparent;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 4px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
    &:active {
        background-color: rgba(255, 255, 255, 0.3);
    }
}